
.navbar {
    background-color: white;
}
ul.navbar-nav{
    background-color: #ffffff;
    text-align: center;
    
}
a.nav-link{

    font-weight: bold;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 0 #FFC300;
    text-transform: uppercase ;
    margin-left: 2rem; 
}
a.nav-link:hover {
    box-shadow: inset 1440px 0 0 0 #FFC300;
    transition: ease-out 0.6s;
    font-size: 1.5rem;
}
h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 2px;

}
.centro {
    padding: 1rem;
    border: solid #FFC300 1rem;
    font-style: italic;
    color: #0f0f0f;
}
h4 {
    text-align: center;
}
.warning {
    background-color: #FFC300;
    text-align: center;
    font-weight: bold;
    
}

h5 {
    font-size: 3rem;
    
}
.carousel-caption {
    color: #FFC300;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 1rem;    
}
p {
    margin: 0;
}
div.container-fluid{
    background-color: #ffffff;
}
.collapse {
    justify-content: flex-end;
    
   
}
.logofooter {
    margin: 12px 12px;
}

.social {
    
    width: 2rem;
    height: 2rem;
}
.gray:hover {
    transition: ease-out 0.6s;
background-color: #FFC300;
}
h3 {
    margin: 12px 12px;    
}
.gray {
    background-color:rgba(247, 241, 241, 0.925);
    border-radius: 100%;
    padding: 1rem;
    margin: 5px;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: column;
    width: fit-content; 
}
a {
    text-decoration: none;
    color: black
}
.copy {
    margin: 0 0;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;
}
.contentfooter {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.alcaldia {
    width: 15rem;
}
/*Pagina Nosotros */
.noso {
    background-color: #FFC300;
    text-align: center;
}
.foto {
    width: 80%;
    border: solid black;
    border-radius: 2rem;
}
.ti {
    padding: 2rem;
}
.nuestro {
    margin: auto 2rem;
    text-align: justify;
    font-style: italic;
}
.run {
    width: 100%;
    border: solid;
    border-radius: 1rem;
}
.tur {
    text-align: center;
    padding: 1rem;
}
.contenedor {
    display: flex;
    align-items: center;
}
@media (max-width: 560px) {
    .contenedor {
        flex-direction: column;
    }
    .tur {
        padding: 0 0;
    }
    .nuestro {
        font-size: 14px;
    }
}

/*Pagina Renta*/
.container {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    flex-wrap: wrap;
    gap: .5rem;
}
.caja {
    border: solid 2px #FFC300;
    border-radius: 10px;
    text-align: center;
    
}
.rent {
    width: 70%;
    
}
.descripcion {
    border-radius: 10px;
    display: grid;
    gap: 2rem;
    font-style: italic;
}
.imagenes {
    display: grid;
    gap: 2rem;
}
.des {
    background-color: #FFC300;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    align-self:baseline ;    
}
@media (max-width: 560px) {
    .rent { 
        width: 15rem; 
        border-radius: 10px;
    } 
    .imagenes {
        gap: 1rem;
    }
    .descripcion {
        position: absolute;
        margin-top: 12rem;
        gap: 9.5rem;
        align-self:stretch;
        font-size: 11px;
    }
    .d2 {
        margin-top: 4rem; 
    }
    .d3 {
        margin-top: 4rem;
    }
    .d4 {
        margin-top: 6.5rem;
        margin-bottom: 2rem;
    }
    .caja {
        margin-bottom: 4rem;
        
    }
}
/*Pagina de Contacto*/
h3{
    text-align: center;
}
.contacto {
    display:grid; 
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    font-style: italic;
}
iframe {
    border: solid 2px #FFC300;
}
.field {
    text-align: center;
    display: grid;
    gap: 1rem;
    
}
.loc {
    background-color: #FFC300;
    padding: 1rem;
    border-radius: 100%;
}

.form {
    border: solid 0.5px;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    width: 20rem;
    justify-content: center;
    margin: auto; 
    background-color: #CFD8DC;
}
h3 {
    font-style: italic;
}
.control {
    font-style: italic;
    background-color: white;
}
.area {
    font-style: italic;
    background-color: white;
}
.boton {
    background-color: #ffc40046;
    font-weight: bold;
    
}
.boton:hover {
    box-shadow: inset 1440px 0 0 0 #FFC300;
    transition: ease-out 0.6s;
    
}
@media (max-width: 560px) {
    .contacto {
        display:flex; 
        flex-direction: column;
        flex-wrap: wrap;

    }

}